<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
</head>
<body>

<h3 th:text="${room}"></h3>

<p><a href="/rooms">Back</a></p>

<hr/>
<div>The lamp in the room is <span th:text="${room.isLampOn} ? 'TURNING ON' : 'TURNING OFF'"></span></div>

<div style="margin: 10px">

    <span style="margin: 10px"><img id="lampImg"
                                    src="../static/images/pic_lampOff.jpg"
                                    th:src="${room.isLampOn} ? @{/images/pic_lampOn.jpg} : @{/images/pic_lampOff.jpg}"
                                    width="110"
                                    height="160"></span>

    <form action="#" th:action="@{/rooms/{id}(id=${room.id})}" th:method="put" th:object="${room}">
        <input type="hidden" th:field="*{name}"/>
        <input type="hidden" th:field="*{country}"/>
        <button id="btnOn" onclick="toSwitch(this.id);" th:name="lampOn" th:value="On">
            Turn on
        </button>
        <button id="btnOff" onclick="toSwitch(this.id);">
            Turn off
        </button>
    </form>

    <p>Click the lamp to turn on/off the light.</p>
</div>

<script type="text/javascript" th:src="@{/js/toSwitch.js}"></script>

</body>
</html>